button {
  cursor: pointer;
}

svg {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 24px;
}

input:focus {
  outline: none;
  border: 1px solid whitesmoke;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 290px auto;
  grid-template-rows: 70px calc(100vh - 70px);
  grid-template-areas:
    "Header Header Header"
    "Side-Panel Main Main"
    "Side-Panel Main Main";
}

.container {
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  grid-area: Header;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: rgb(red, green, blue);
  border-bottom: 1px solid black;
  background-color: gainsboro;
  z-index: 5;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid; */
  /* grid-template-columns: repeat(2, minmax(200px, auto)); */
}

.logo {
  margin-right: 10px;
}

.search {
  display: flex;
}

.search__panel {
  display: flex;
  position: relative;
}

.search__input {
  padding: 12px 16px;
  border: 1px solid black;
  width: 100%;
}

.search__input-icon {
  position: absolute;
  top: 1px;
  right: -9px;
  display: flex;
  height: 45px;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
  background-color: whitesmoke;
}

.search__input-icon:hover svg {
  fill: whitesmoke;
}

.search__input-icon:hover {
  background-color: black;
}

.microphone {
  margin: 0 10px;
}

.user {
  display: flex;
  justify-content: space-between;
}

.notifications {
  margin-right: 20px;
}

.profile {
  padding: 10px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.notifications:hover,
.microphone:hover {
  fill: whitesmoke;
}

.profile:hover {
  background-color: whitesmoke;
}

.dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__item {
  display: flex;
  padding: 5px;
}

.dropdown__item + .dropdown__item {
  border-top: 1px solid black;
}

.profile:hover .dropdown {
  display: block;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__item:hover {
  background-color: #f1f1f1;
}

.main {
  grid-area: Main;
  position: relative;
  overflow: hidden;
}

.main__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 12px;
  overflow: hidden;
}

.side {
  grid-area: Side-Panel;
  position: fixed;
  top: 70px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  height: 100%;
  z-index: 999;
}

.side__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  overflow-y: auto;
  height: 500px;
}

.side__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.side__list-item:hover {
  background-color: gainsboro;
}

.side__list-item p {
  margin-left: 10px;
}

.side__list-item .online {
  margin-left: auto;
}

.blink {
  animation: blink 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.info {
  margin: 10px 10px auto 10px;
  padding: 5px;
  background-color: whitesmoke;
}

.info h3 {
  text-align: center;
  margin-bottom: 10px;
}

.media__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.media__list-item:hover {
  fill: blue;
}

.carousel__list {
  overflow-y: scroll;
  transform: rotate(-90deg);
  margin-left: 530px;
  margin-top: -580px;
  width: 166px;
  height: 1200px;
}

.carousel__list-item {
  transform: rotate(90deg);
  width: 80px;
  text-align: center;
  padding: 10px 5px;
  background-color: gainsboro;
  border-radius: 8px;
  margin: 20px 20px 50px 40px;
}

.carousel__list-item:first-child {
  background-color: bisque;
}

.carousel__list-item:hover {
  background-color: #777;
  transition: 0.5s all ease;
  color: whitesmoke;
}

.slider {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  max-height: 600px;
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  width: 40%;
  height: 200px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.card__layer {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.card__layer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.card:hover .card__layer {
  opacity: 0.7;
  background-color: gray;
}

.card__info {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.gallery {
  margin-top: -200px;
  margin-bottom: 20px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  grid-gap: 20px;
}

.gallery__list-item svg {
  cursor: pointer;
}

.gallery__list-item img {
  cursor: pointer;
  width: 100%;
  height: 200px;
}

.gallery__stream-info {
  display: flex;
  justify-content: space-between;
}

.gallery__stream-info--text {
  margin: 0 auto 0 10px;
}
.gallery__stream-info h5 {
  cursor: pointer;
  margin-right: auto;
  font-weight: 600;
}

.gallery__stream-info p {
  cursor: pointer;
  color: gray;
}

.footer {
  text-align: center;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(auto, 60px));
  }
  .notifications {
    margin-right: 10px;
  }

  .side {
    width: 60px;
  }
  .side__list {
    overflow-y: hidden;
  }
  .side__list-item {
    display: flex;
    justify-content: center;
  }
  .side__list-item p {
    display: none;
  }

  .side__list-item .online {
    display: none;
  }
  .card {
    width: 60%;
  }
  .info {
    display: none;
  }
}
