button {
  cursor: pointer;
}

svg {
  width: 20px;
}

input:focus {
  outline: none;
  border: 1px solid black;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: rgb(red, green, blue);
  border-bottom: 1px solid black;
  background-color: ghostwhite;
  z-index: 5;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  z-index: 0;
  margin-top: 121px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.article {
  border-right: 1px solid black;
  width: 30%;
  z-index: 0;
}

.search {
  display: flex;
  position: relative;
}

.search__input {
  padding: 12px 16px;
  border: 1px solid gainsboro;
}

.search__input-icon {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

.search__input-icon:hover {
  background-color: rgb(129, 115, 115);
}

.user {
  display: flex;
  justify-content: space-between;
}

.notifications {
  margin-right: 20px;
}

.profile {
  padding: 10px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.notifications:hover,
.microphone:hover {
  fill: rgb(129, 115, 115);
}

.profile:hover {
  background-color: rgb(129, 115, 115);
}

.dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__item {
  display: flex;
  padding: 5px;
}

.dropdown__item + .dropdown__item {
  border-top: 1px solid black;
}

.profile:hover .dropdown {
  display: block;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__item:hover {
  background-color: #f1f1f1;
}
